* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Inter "Helvetica Neue" Helvetica Arial sans-serif;
}

body {
    .section-1 {
        display: flex;

        .social_media_head {


            .social_marketing_heading_content {
                width: 50%;
                color: #313435;
                font-size: 40.736px;
                font-weight: 650;
                letter-spacing: 0.5px;
                word-spacing: 0.25px;
            }

            .social_marketing_description {
                width: 55%;
                color: #6c757d;

            }
        }
    }
}

.section-2 {
    .first_image img {
        width: 100%;
        height: 80%;


    }
}

.section-3 {
    .logo-content {
        width: 100%;


    }

}

.section-5 {
    .target {
        .image {
            height: 50px;
            width: 50px;

        }
    }
}

.section-6 {
    .revenue {
        border: none;
        margin-right: 2px;
        padding: 2px;
    }
}

.section-7 {
    .link {
        text-decoration: none;
        color: #0D6EFD;

        img {
            width: 20px;

        }
    }

    .tablet {
        overflow: hidden;
    }

    .tablet img {
        height: 600px;
    }

}

.section-8 {
    .section img {
        width: 650px;
    }
}

.section-9 {
    .shuffle {
        width: 30px;

    }

    .align {
        width: 30px;
    }

    .cards {
        border: none;
        background-color: #F4F4F9;
        border-radius: 10px;
    }
}

.section-10 {
    .back {
        background-color: #F4F4F9;
        border-radius: 10px;
    }

    .section {
        border: none;
        background-color: #F4F4F9;

    }

    .computer {
        width: 25px;
        height: 25px;
    }

    .discover {
        text-decoration: none;

        img {
            width: 20px;

        }
    }

    .pro img {
        width: 650px;
    }
}

.section-11 {
    .cards {
        border: none;
    }

    .line {
        width: 10px;
        color: #000;
        padding-left: 100px;
        padding-right: 100px;
    }
}

.section-12 {
    .content {
        padding-top: 50px;
        margin-top: 50px;
    }

    .image img {
        height: 680px;
    }
}

.section-13 {
    .cards {
        height: 130px;
        width: 130px;
        display: flex;
        justify-content: center;
        border-radius: 10px;
        border: 1px solid rgb(204, 204, 204);
    }

    .cards:hover {
        cursor: pointer;
        border: 1px solid transparent;
        transition: 0.5s;
    }

    img {
        width: 50px;

    }

    .view-button button:hover {
        background-color: #0D6EFD;
        color: #F4F4F9 !important;
        transition: 0.6s;

    }
}

.section-14 {
    .marketing-content {
        background-color: #F4F4F9;
        border-radius: 15px;
    }

    .marketing-image img {
        width: 500px;
        height: 600px;
    }
}

.section-15 {
    .cards {
        display: flex;
        padding: 10px;
        width: 100%;


    }
}

.section-16 {
    .sec-16 img {
        width: 550px;
        border-radius: 15px;
    }

    .sec img {
        width: 300px;
        padding: 10px;
        border-radius: 20px;
    }
}

.section-17 {
    .sec-17 {
        p {
            width: 80%;
        }
    }

    .content-img img {
        width: 500px;
        height: 600px;
    }
}

.section-18 {
    .main-content {
        padding-top: 10px;
        padding-bottom: 10px;

        .content-1 {
            margin-right: 20px;
            width: 50%;

            h5 {
                font-weight: 700;
            }

            p {
                color: #6c757d;
                font-size: 17px;
            }

            ul {
                color: #6c757d;
                font-size: 17px;
            }
        }

        .content-2 {
            margin-left: 20px;
            width: 50%;

            h5 {
                font-weight: 700;
            }

            p {
                color: #6c757d;
                font-size: 17px;
            }

            ul {
                color: #6c757d;
                font-size: 17px;
            }
        }
    }
}

.section-19 {
    .contents {
        background-image: url(./img/background.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 50px;
        border-radius: 10px;


    }

}

   @media (max-width:767.98px){
    body{
            padding: 0;
            margin: 0;
    }
     .section-1 .social_media_head .social_marketing_heading_content {
        width: 80%;
        font-size: 30.735px;

    }

    .section-1 .social_media_head .social_marketing_description {
        width: 65%;
    }

    .section-4 .content h6 {
        text-align: center;
    }
    .section-4 .content h2 {
        text-align: center;
    }
    .section-4 .content .para{
        text-align: center;
        font-size: 15px !important;
    }
    .section-5 .content h5{
        text-align: center;
    }
    .section-7 .tablet img{
        width: 100%;
        height: 100%;
    }
    .section-8 .section img{
        width: 100%;
    }
    .section-10 .pro img{
        width: 100%;
    }
    .section-16 .sec-16 {
        padding: 0 !important;
        margin: 0 !important;
    }
    .section-16 .sec-16 img{
        width: 100%;
    }
    .section-16 .sec{
        flex-direction: column;
    }
    .section-16 .sec img{
        width: 100%;
    }
    .section-17 .sec-17{
        margin-top: 0 !important;
        padding-top: 0 !important;
    }
    .section-18 .main-content{
        flex-direction: column;
    }
    .section-18 .main-content .content-1{
        width: 100%;
        margin-left: 0;
    }
    .section-18 .main-content .content-2{
        width: 100%;
        margin-left: 0;
    }
    .section-20 .contents{
        margin-left: 5px !important;
        padding-left: 5px !important;
    }
    .section-20 .content1{
        margin-left: 5px !important;
        padding-left: 5px !important;
    }
    .section-20 .content2{
        margin-left: 5px !important;
        padding-left: 5px !important;
    }
}
@media (max-width: 575.98px) {
 .section-5 .card-content{
    width: 50% !important;
 }
.section-11 .sec-11{
    display: flex;
  .cards{
    width: 50%;
 }
}
.section-20 .sec-20{
    display: none;
}
}
